/* index.css বা App.css */
*{
    font-family: 'Urbanist' ;
}

body {
  /* background: ;  */
  backdrop-filter: blur(5px); 
  color: #000;
  transition: background-color 0.3s ease;
  overflow-x: hidden;
    font-family: 'Urbanist';
}

/* globals.css বা component scoped CSS */
.recharts-rectangle:focus {
  outline: none;
}

