/* shape-overlay for left/right missing rounded look */
.shape-overlay::before,
.shape-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  width: 30px; /* left/right overlay width */
  height: 100%;
  background: linear-gradient(to bottom, rgba(255,255,255,0.4), rgba(255,255,255,0));
  pointer-events: none;
}

.shape-overlay::before {
  left: 0;
  border-top-left-radius: 32px;
}

.shape-overlay::after {
  right: 0;
  border-top-right-radius: 32px;
}
